<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/estilos.css">
    <title>
        EXTERNO
    </title>
</head>
<body>
    <center>
    <h1>INFORMACION DEL ESTUDIANTE</h1>
    <hr>
    <label for="nombre">NOMBRE</label><br>
    <input type="text" id="nombre" >
    <br>
    <label for="mensaje">Escriba un mensaje</label><br>
    <textarea name="mensaje" id="">Mensaje</textarea>
    <br>
    <label for="select">CANCION FAVORITA DE DEFTONES</label><br>
    <select name="select" id="">
        <option value="opcion1">Rosemary-Deftones</option>
        <option value="opcion2">ENtombed-Deftones</option>
        <option value="opcion3">My Own Summer-Deftones</option>
    </select>
    <br>
        <label for="">SELECCIONE SUS MATERIAS FAVORITAS</label><br>
        <label for="programacion_Web">PROGRAMACION WEB</label>
        <input type="checkbox" name="materias[]" id="programacion_Web">
        <label for="modelos_Discretos">MODELOS DISCRETOS</label>
        <input type="checkbox" name="materias[]" id="modelos_Discretos">
    <br>
    <label for="">SELECCIONE SU  GENERO</label>
    <br>
    <input type="radio" name="genero" id="MASCULINO">MASCULINO
    <input type="radio" name="genero" id="FEMENINO">FEMENINO
    <input type="radio" name="genero" id="NOSE">NOSE
    </center>
    <center>
        <footer>
            <hr>
            <p>MR ROBOT © 2023</p>
        </footer>
    </center>
</body>
</html>