    <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">ACERCA DE MI</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">ESTUDIANTE DE LA UNIVERSIDAD DE LAS FUERZAS ARMADAS ESPE </p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">ME GUSTAR PROGRAMAR, LOS VIDEOJUEGOS Y EL BASQUET</p></div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://www.youtube.com/watch?v=02BUrJIHSmI&list=PL2411FA21136840F1">
                        <i class="fas fa-download me-2"></i>
                        MIRA MAS AQUI
                    </a>
                </div>
            </div>
        </section>